<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Chatlog</title>
  </head>
  <body>
    <div class="bigBox">
      <div class="box" id="title">ChatLog</div>
      <div class="box" id="text-body">
        <table>
          내용들어갈곳
        </table>
      </div>
        <input  id="text-message" placeholder="Enter the message" value=""></input>
        <div class="btn">
          <button>전송</button>
        </div>
    </div>
    <script src="https://ipfs.infura.io/ipfs/QmTSK6i9PS1DHnrgbjCo718hnDpGgyvo4GLt2C3yLMWTYn"></script>
    <script src="fun.js"></script>
  </body>
</html>
