<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="https://ipfs.infura.io/ipfs/QmPWxMbe7a9FcDLb14DjEZv9hBAMMiY7t9gRyrXabnB7mW" />
    <title>Chatlog</title>
  </head>
  <body>
    <div class="bigBox">
      <div class="box" id="title">ChatLog</div>
      <div class="box" style="overflow:auto" id="text-body">
        <table id=table1>
        </table>
      </div>
      <div>
        <input  id="text-message" placeholder="Enter the message" value=""></input>
        <input type="button" value="Send" onclick=messageSubmit();></input>
      </div>
    </div>
    <script src="https://ipfs.infura.io/ipfs/QmTSK6i9PS1DHnrgbjCo718hnDpGgyvo4GLt2C3yLMWTYn"></script>
    <script src="https://ipfs.infura.io/ipfs/QmYWJpGV1e4kFLBKHCoUCm96piDWnag63gW6TvxLdLWJP1"></script>
    <script src="https://ipfs.infura.io/ipfs/QmStNxhVFAqS4wexXuJ1Wzi479mDpUnn3GiGZEZ4rVQo1o"></script>
  </body>
</html>
