<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <div id="main">
      <form class="bigBox" id="frm" action="./chat.html" method="post">
        <input type="text" placeholder="Enter Your Nickname" />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
